html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ################################################ */

/* Extra-Small (Phone-Portrait) <576px */

html {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.grid-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-auto-flow: column;
}

.grid-container > .navbar-background {
  grid-column: 1/6;
  background-color: #f0f2ef;
  display: flex;
  justify-content: flex-end;
}

.navbar {
  justify-self: flex-end;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navbar img {
  max-width: 6em;
}

.header-background {
  grid-column: 6/13;
  background-color: #f0f2ef;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header > header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding-right: 2em;
}

.header > p {
  font-weight: 100;
  font-size: 12px;
  justify-self: start;
  padding-left: 0.2em;
  padding-top: 0.4em;
  height: 50%;
}

.grid-main {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0.5em;
  grid-gap: 1em;
  margin-right: auto;
  margin-left: auto;
}

.grid-main > .post-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10%;
}

.grid-main > .post-navigation > a > .post-nav-header {
  font-weight: 100;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.grid-main > .post-navigation > a > .post-nav-body {
  font-weight: 700;
  line-height: 1.37em;
}

.blog-post {
  font-weight: 300;
  letter-spacing: 0.01em;
  overflow: hidden;
}

.blog-post > .blog-content a {
  color: #2b6dad;
}

.blog-post > .date-stamp {
  font-weight: 100; /* Thin */
  font-size: 12px;
  padding-bottom: 0.6em;
}

.blog-post h1 {
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 0.25em;
}

.blog-post > .blog-content > h2 {
  font-weight: 700;
  font-size: 22px;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.blog-post > .blog-content > h3 {
  font-weight: 700;
  font-size: 20px;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.blog-post > .blog-content > p {
  font-size: 16px;
  line-height: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.blog-post > .blog-content > p > code.hljs {
  display: inline;
  word-wrap: break-word;
  padding: 0px;
}

.blog-post > .blog-content blockquote {
  line-height: 1.5em;
  padding-left: 1em;
  border-left: #f0f2ef solid thick;
  border-top: #f0f2ef solid none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  word-wrap: break-word;
}

.blog-post > .blog-content blockquote * {
  font-size: inherit;
}

.blog-post > .blog-content strong {
  font-weight: 700;
}

.blog-post > .blog-content > ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 0.8em;
  padding-left: 0.8em;
  padding-bottom: 1em;
}

.blog-post > .blog-content > ul > li {
  padding-top: 0.5em;
  font-size: 16px;
  line-height: 1.5em;
}

.blog-post > .blog-content > p > img {
  max-width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  display:block;
  margin:auto;
}

.blog-post > .blog-content em {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 100;
  text-align: center;
  vertical-align: middle;
}

.grid-main > .comments {
  padding-top: 1.5em;
}

.grid-main > .pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1em;
  font-weight: 100;
  font-size: 12px;
  padding-bottom: 1.5em;
}

.grid-main > .pagination > .newer-posts {
  justify-self: left;
}

.grid-main > .pagination > .page-num {
  grid-column: 2/3;
  justify-self: center;
}

.grid-main > .pagination > .older-posts {
  justify-self: right;
}

.grid-container .navigation-links {
  grid-column: 1/13;
  background-color: #f0f2ef;
  text-align: center;
  margin-top: 2em;
  padding-bottom: 1.5em;
  font-weight: 700; /* Bold */
  font-size: 14px;
}

.navigation-links p {
  font-size: 14px;
  padding-top: 1.5em;
}

/* Small (Phone-Landscape) >=576px */
@media (min-width: 576px) {
  .grid-main {
    max-width: 540px;
    grid-gap: 2.5em;
  }

  .grid-container > .navbar-background {
    grid-column: 1/5;
    background-color: #f0f2ef;
    display: flex;
    justify-content: flex-end;
  }

  .grid-container > .navigation-links {
    padding-bottom: 2em;
  }
  
  .navigation-links p {
    font-size: 17px;
  }

  .navbar img {
    max-width: 8em;
  }

  .header-background {
    grid-column: 5/13;
    background-color: #f0f2ef;
    display: flex;
    justify-content: flex-start;
  }

  .header > header {
    font-size: 30px;
  }

  .blog-post > .date-stamp {
    font-size: 15px;
  }

  .blog-post h1 {
    font-size: 30px;
  }
  
  .blog-post > .blog-content > h2 {
    font-size: 22px;
  }
  
  .blog-post > .blog-content > h3 {
    font-size: 22px;
  }

  .blog-post > .blog-content > p {
    font-size: 17px;
  }

  .grid-main > .blog-post > .blog-content > hr {
    margin-top: 2.5em;
    margin-bottom: 1em;
  }

  .grid-main > .comments {
    padding-top: 2em;
  }

  .grid-main > .pagination {
    font-size: 16px;
  }
  
  .grid-main > .comments {
    padding-top: 0em;
  }
}

/* Medium (Tablet) >=768px */
@media (min-width: 768px) {
  .grid-main {
    max-width: 720px;
    min-width: 700px;
  }

  .grid-container > .navbar-background {
    grid-column: 1/4;
    background-color: #f0f2ef;
  }
  
  .navigation-links p {
    line-height: 1.5em;
  }

  .navbar img {
    max-width: 8em;
  }

  .header-background {
    grid-column: 4/13;
    background-color: #f0f2ef;
    display: flex;
    justify-content: flex-start;
  }

  .header > header {
    font-size: 36px;
  }
  
  .blog-post > .date-stamp {
    padding-top: 2em;
  }
  
  .blog-post h1 {
    padding-bottom: 0.6em;
  }
}

/* Large (Desktop) >=992px */
@media (min-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: 0.25fr 0.70fr;
    grid-column-gap: 2em;
  }

  .grid-container > .header-background {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;
  }

  .header > header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 55px;
    padding-right: 0;
    padding-top: 0.5em;
  }

  .header > p {
    font-size: 19px;
    padding-top: 1em;
  }

  .grid-container > .navbar-background {
    grid-column: 1/2;
    background-color: #f0f2ef;
    justify-content: center;
  }

  .navbar {
    padding-right: 0;
    padding-top: 2.5em;
    padding-bottom: 0;
  }

  .navbar img {
    max-width: 12em;
  }
  
  .grid-container > .navigation-links {
    grid-column: 1/2;
    font-size: 21px;
    padding-top: 0.5em;
    padding-bottom: 0px;
    margin-top: 0px;
  }

  .grid-main {
    grid-column: 2/3;
    display: grid;
    grid-row-gap: 5em;
    padding-left: 0;
    margin-left: 0;
    max-width: 700px;
    margin-bottom: 5em;
  }

  .blog-post > .date-stamp {
    font-size: 18px;
  }

  .blog-post h1 {
    font-size: 40px;
    line-height: 46px;
  }
  
  .blog-post > .blog-content > h2 {
    font-size: 28px;
  }
  
  .blog-post > .blog-content > h3 {
    font-size: 24px;
  }

  .blog-post > .blog-content > p {
    font-size: 21px;
  }

  .blog-post > .blog-content > ul {
    margin-left: 1.5em;
  }
  
  .blog-post > .blog-content > ul > li {
    font-size: 21px;
    padding-left: 0.25em;
  }
  
  .blog-post > .blog-content blockquote {
    font-size: 21px;
  }
  
  .blog-post > .blog-content .hljs {
    font-size: 18px;
    line-height: 1.2em;
  }
}

/* X-Large (Widescreen Desktop) >=1200px */
@media (min-width: 1200px) {
  .grid-container {
    grid-column-gap: 4em;
    grid-template-columns: 350px 0.9fr;
  }
  
  .navbar img {
    max-width: 15em;
  }
}
